<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/colors.css">
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/sidebar.css">
        <link rel="stylesheet" href="/stylesheets/post-forms.css">
        <link rel="stylesheet" href="/stylesheets/posts-show.css">
        <title></title>
    </head>
    <body>
        <header class="navbar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="/"><img src="/images/Unemployed_Logo.png" alt=""></a>
                </li>
            </ul>
            <ul class="nav right">
                {{#if user}}
                    <li class="nav-item"><a href="/signout" class="nav-link disabled">Sign Out</a></li>
                {{else}}
                    <li class="nav-item"><a href="/signup" class="nav-link disabled">Sign Up</a></li>
                    <li class="nav-item"><a href="/auth/google" class="nav-link disabled">Sign In</a></li>
                {{/if}}
                
            </ul>
        </header>
        <main class="container-fluid">
            <div class="row">
                <aside class="sidebar col-sm-2">
                    <span><i class="fas fa-user-circle"></i> {{#if user.name}}{{user.name}}{{else}}Login to see your profile!{{/if}}</span>
                    <a href="/users/{{user._id}}"><h5>Profile</h5></a>
                    <h5>Friends</h5>
                    <h5>Communities</h5>
                </aside>
                <main class="col-md-10">
                    {{{body}}}
                </main>
            </div>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
