{{#if authorizedEditor}}
    <form action="/users/{{profile._id}}/update?_method=PATCH" method="POST" class="container">
        <input type="text" class="form-control" name="name" value="{{profile.name}}">
        <input type="text" class="form-control" name="bio" value="{{profile.bio}}" placeholder="Bio...">
        <input type="number" class="form-control" name="age" value="{{profile.age}}" placeholder="Your Age">
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

{{else}}
    <img src="{{profile.profilePicture}}" alt="">
    <h1>{{profile.name}}</h1>
    <h2>{{profile.bio}}</h2>
{{/if}}
